APP_NAME="Event Management"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=Asia/Kathmandu
FRONTEND_URL=http://localhost:5173

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
LOG_DAYS=14

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=event_management
DB_USERNAME=sail
DB_PASSWORD=password

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=null

SESSION_DRIVER=database
SESSION_LIFETIME=120
ADMIN_SESSION_TIMEOUT=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=localhost

SANCTUM_TOKEN_EXPIRATION=480
SANCTUM_TOKEN_PREFIX=evt_

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MAIL_MAILER=resend
RESEND_API_KEY=
MAIL_FROM_ADDRESS="invitation@digitalconclave.org"
MAIL_FROM_NAME="Digital Nepal Conclave"
MAIL_REPLY_TO_ADDRESS=

SMS_DRIVER=sparrow
SPARROW_SMS_TOKEN=
SPARROW_SMS_BASE_URL=https://sms.sociair.com/api
SMS_BATCH_SIZE=50

SANCTUM_STATEFUL_DOMAINS=localhost:5173

CONNECTIPS_BASE_URL=https://uat.connectips.com:7443
CONNECTIPS_MERCHANT_ID=
CONNECTIPS_APP_ID=
CONNECTIPS_APP_NAME=
CONNECTIPS_APP_PASSWORD=
CONNECTIPS_PRIVATE_KEY_PATH=
CONNECTIPS_PRIVATE_KEY_PASSPHRASE=
CONNECTIPS_PRIVATE_KEY_FORMAT=pem
CONNECTIPS_CLIENT_CERT_PATH=
CONNECTIPS_VERIFY_SSL=true
CONNECTIPS_SUCCESS_URL=
CONNECTIPS_FAILURE_URL=

VITE_APP_NAME="${APP_NAME}"
